__pycache__
output*
cache_*.pkl
cost-logs
*.blend
.vscode/*
*.DS_Store
.idea/
**/keys
*.so
*.zip
*.glb
*.pyc
*.ply
*.pdf
*.pk
*.pt
*.pth
*.onnx
.api_keys*
Genesis/**/*.pkl
*.egg-info*
logs
vico/assets/ViCo
chat_raw*.jsonl
vico/assets/scenes/*/raw/
vico/assets/scenes/*/gpt_cache/
vico/assets/scenes/*/agents_num_15_with_schedules
vico/assets/imgs/*
!vico/assets/imgs/avatars/